.clase {
    color: #fbf3ff;
    color: #f6e3ff;
    color: #eeccff;
    color: #e1a3ff;
    color: #cf69ff;
    color: #be31ff;
    color: #ae0aff;
    color: #9a00f4;
    color: #8a03d3;
    color: #6b049f;
    color: #490079;
}